{% extends 'layout/base.html' %}
{% load static %}

{% block navbar %}

{% include 'components/navbar.html' %}

{% endblock %}

{% block content %}

<div class="section">
    <div class="horizontal-container">
        <div class="title">{{ bank_offer.name }}</div>
        <img class="image" src="{{ bank_offer.imageUrl }}" alt="Image">
    </div>
    <div class="content">
        <div class="content-value">-{{ bank_offer.description }}</div>
    </div>
    <div class="content">
        <div class="content-value">-{{ bank_offer.fact }}</div>
    </div>
    <div class="content">
        <div class="content-value">-{{ bank_offer.bonus }}</div>
    </div>
    <div class="content">
        <div class="content-value">-Стоимость:&nbsp;{{ bank_offer.cost }}&nbsp;руб./мес.</div>
    </div>
</div>

{% endblock %}
