{% load static %}

<div class="card">
    <div class="card-image-container">
        <img src="{{ offer.imageUrl }}" alt="Image">
    </div>

    <div class="card-content">
        <div class="card-date">
            <div class="card-title">{{ offer.name }}</div>
            <div class="card-location">Стоимость:&nbsp;{{ offer.cost }}&nbsp;руб./мес.</div>
            <div class="card-location">{{ offer.fact }}</div>
        </div>

        <div class="horizontal-container">
            <button class="card-button-details" onClick="location.href='{% url 'offer' offer_id=offer.id %}'">Подробнее</button>
            <form action="{% url 'add_offer' offer_id=offer.id %}" method="post">
                {% csrf_token %}
                <button class="card-button-add">Добавить</button>
            </form>
        </div>
    </div>
</div>