{% load static %}

<div class="application-cell">
    <img class="image" src="{{ item.offer.imageUrl }}" alt="Image">
    <div class="content">
        <a class="card-title" href="{% url 'offer' offer_id=item.offer.id %}">{{ item.offer.name }}</a>
        <div class="card-location">Стоимость:&nbsp;{{ item.offer.cost }}&nbsp;руб./мес.</div>
        <div class="card-location">{{ item.offer.bonus }}</div>
    </div>
    <div class="position-container">
        <input class="position" type="text" placeholder="Комментарий" value="{{ item.comment }}">
    </div>
</div>